<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>590968188949-23pj2rr599i8q105n5eh3cigc2aakegl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590968188949-23pj2rr599i8q105n5eh3cigc2aakegl</string>
	<key>API_KEY</key>
	<string>AIzaSyBe_FsieBwLn9NjFg0KPVyXga8mAnP9TV4</string>
	<key>GCM_SENDER_ID</key>
	<string>590968188949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.Snapchat</string>
	<key>PROJECT_ID</key>
	<string>snapchat-6b9be</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-6b9be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590968188949:ios:78e91e0d83b2a78b</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-6b9be.firebaseio.com</string>
</dict>
</plist>